@{
    ViewData["Title"] = "Listado de clientes";
}

@model IEnumerable<Lab1_Grupo2.Models.Clientes>

<br />
<h4>Listado de Clientes</h4>
<h6>Encuentra aquí la información de todos los clientes agregados.</h6>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /*id=item.PrimaryKey */}) |
                    @Html.ActionLink("Info", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" style="color: #435A64">Añadir cliente</a>
</p>
